.img-figure {
  position: absolute;
  width: 320px;
  height: auto;
  margin: 0;
  padding: 40px;
  box-sizing: border-box;
  background-color: #fff;
}

.img-figure img {
  width: 100%;
  height: auto;
}

figcaption {
  text-align: center;
}

.img-title {
  margin: 20px 0 0 0;
  color: #a7a0a2;
  font-size: 16px;
}
